<% include header.html %>

<!-- 各个初始化参数设置-start -->
<div class="hidden">
    <h4>代码高亮主题:</h4>
    <select id="theme" name="theme" default="eclipse">
        <option value="eclipse" selected="">eclipse</option>
    </select>

    <h4>代码类型:</h4>
    <select name="language" id="language" default="htmlmixed">
        <option value="htmlmixed">HTML混合(单页)</option>
    </select>

    <h4>文档类型:</h4>
    <select id="docType" name="docType" default="HTML5">
        <option value="HTML5">HTML5</option>
    </select>
</div>
<!-- 各个初始化参数设置-start -->

<div class="header j_warp_view" id="header">
    <div class="banner_logo">
        <span><img src="/images/logo.jpg" class="dxy_logo" /></span>
    </div>

    <label class="pr10">切换视图:</label>

    <input id="panels" name="view" type="checkbox" checked="checked" value="panel" />
    <label for="panels" class="pr10 pointer">左侧面板</label>

    <input id="html" name="view" type="checkbox" checked="checked" value="html_window" />
    <label for="html" class="pr10 pointer">HTML</label>

    <input id="pre" name="view" type="checkbox" checked="checked" value="preview_window" />
    <label for="pre" class="pr10 pointer">预览</label>

    <label id="helpInfo" class="help">F11(全屏显示选中的编辑器)
        <input type="button" class="username j_login" value="<%= list.username||'登录' %>" />
    </label>
</div>

<div class="main" id="main">

    <!-- 左侧文件列表 -->
    <div class="panel" id="panel">
        <div class="sub_banner bc444442">1-选择模板</div>
        <div class="file_tree">
            <% for(var i in list) { %>
            <ul>
                <% if(list[i]['title']) {%><li class="j_filename filename" data-index="0"><%=list[i]['title']%></li><% } %>

                <% if(list[i]['filenames']) { %>
                    <% for(var j in list[i]['filenames']) { %>
                    <li class="file_node <%if(i==0&&j==0){%>active<%}%>">
                        <a href="javascript:void(0);" title="<%=list[i]['title']%>/<%=list[i]['filenames'][j]%>">
                            <%=list[i]['filenames'][j]%>
                        </a>
                    </li>
                    <% } %>
                <% } %>
            </ul>
            <% } %>
        </div>
    </div>

    <!-- 中间源码区域 -->
    <div class="content" id="content">

        <div class="column fl w_hudnred50">
            <div class="sub_banner bc3A3937">
                <span>2-编辑内容</span>
					<span class="fr pr10">
						<input id="formatCode" class="btn mr10 j_format_code" type="button" value="格式化(Shift+F)" />
					</span>
            </div>
            <div id="html_window" class="window">
                <textarea id="html_code" class="hidden" name="html_code" rows="10" cols="40">
                </textarea>
            </div>
        </div>

        <div class="column fr w_hudnred50">
            <div class="sub_banner bc444442">
                <span>3-预览</span>
					<span class="fr pr10">
						<input id="newTab" name="newTab" type="checkbox" value="blank" />
						<label for="newTab" class="pr10 pointer">新窗口</label>
						<input id="runCode" class="btn mr10" type="button" value="运行(Ctrl+R)" />
                        <input id="downCode" class="btn mr10" type="button" value="下载" />
					</span>
            </div>
            <div id="preview_window" class="window">
                <iframe id="preview" name="preview" frameborder="0"></iframe>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<a href="#" class="j_download"></a>
<% include footer.html %>