extends layout

block content
    div#content Node之Express应用
    form(method='GET',action='/',name='form')#login-panel
        p.login-in
            label(for='username').login-label 用户名:
            input(type='text', name='username')#username.login-username
        p.login-in
            label(for='password').login-label 密码:
            input(type='password', name='password')#password.login-password
        p.login-in
            input(type='button', value='登录')#submitBtn.login-btn
