
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- title标题 -->
    <title>d-title 丁香通促销精选年底试剂耗材轻松购</title>
    <!-- 下面meta里的content写关键词，如果没有删除这个meta -->
    <meta name="keywords" content="d-keywords" />
    <!-- 下面meta里的content写这个edm的描述，如果没有删除这个meta -->
    <meta name="description" content="d-description" />

    <meta content="IE=7" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <style type="text/css">
        @media only screen and (max-width: 600px)  {
            *[class=devicewidth] { width:100%!important; }
            td[class=td] {padding-left: 3%!important;padding-right: 3%!important;}
            img[class=img1] {width:100%!important;height:auto!important;}
            .devicewidth{width:100%!important;}
            img.img1{width:100%!important;height:auto!important;}
            .m-hide{display: none!important;}
            .m-tit{font-size: 30px!important;line-height: 40px!important;}
            .m-btn{padding-top: 10px;}
        }
    </style>
</head>
<body bgcolor="#c4ccda" style="padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">

<!-- 最上面点此阅读-start -->
<table width="100%" cellpadding="0" cellspacing="0" align="center" border="0">
    <tbody>
    <tr>
        <!-- a标签的href等于本页面的超链接｛等于号后面的字符串都需要加双引号｝ -->
        <td align="center" height="30" style="font-size: 12px;">
            促销有礼 惊喜不断 若邮件无法显示，请
            <a style="color: #db5f23" href="http://eclub.biomart.cn/promotion201503/?trace=0305dingbuEDM2">点此阅读</a>
        </td>
    </tr>
    </tbody>
</table>
<!-- 最上面点此阅读-end -->

<table border="0" cellspacing="0" align="center" cellpadding="0" style="background-color: #F8F8F8;border: 1px solid #e5e5e4;font-size: 14px;line-height: 22px;font-family: 'microsoft yahei', '黑体';width: 100%;max-width: 600px;">
    <tbody>
    <!-- 丁香通logo-start -->
    <tr>
        <td height="40" style="padding: 15px 0 0 15px;">
            <!-- a标签href等于点击logo需要跳转的链接，img标签src等于logo图片｛logo大小82px*26px为最佳｝ -->
            <a target="_blank" href="http://www.biomart.cn">
                <img src="http://www.biomart.cn/topic/edm/promotion/20150115/logo2.png" alt="biomart logo" width="82" height="26" border="0" />
            </a>
        </td>
    </tr>
    <!-- 丁香通logo-end -->

    <!-- 大标题-start -->
    <tr>
        <td align="center" class="m-tit" style="color: #db5f23;font-size: 40px;line-height:58px;font-weight:normal;font-family: 'microsoft yahei', '黑体';">
            <!-- <br />表示换行显示 -->
            开学送不停<br>
            人人有“豪”礼
        </td>
    </tr>
    <!-- 大标题-end -->

    <!-- 大标题下的第一条内容-start -->
    <tr>
        <td align="center" style="color: #7a7c80;padding-top: 40px;">
            丁香通携手赛默飞、Sigma 等众多国际品牌
        </td>
    </tr>
    <!-- 大标题下的第一条内容-end -->

    <!-- 循环内容-start -->
    <!-- 如果需要添加一行内容，可以从one-start至one-end复制之间的代码替换掉内容即可 -->
    <!-- one-start -->
    <tr>
        <td align="center" style="color: #7a7c80;padding: 0 10px;">为奔赴在一线的小伙伴们准了厚厚的“红包”</td>
    </tr>
    <!-- one-end -->

    <!-- two-start -->
    <tr>
        <td align="center" style="color: #7a7c80;padding: 0 10px;">更有iPad Air 相送哦！</td>
    </tr>
    <!-- two-start -->
    <!-- 循环内容-end -->

    <!-- 立即选购-start -->
    <tr>
        <td align="center" style="padding-top:40px;" class="m-btn">
            <!-- a标签的href等于立即选购跳转链接 -->
            <a target="_blank" href="http://eclub.biomart.cn/promotion201503/?trace=0305EDM2">
                <img src="http://www.biomart.cn/topic/edm/promotion/20150115/btn.png" alt="立即选购" width="100" height="34" border="0" />
            </a>
        </td>
    </tr>
    <!-- 立即选购-end -->

    <!-- 底部背景图｛背景有2015｝-start -->
    <tr>
        <td style="overflow: hidden">
            <!-- img标签的src等于底部背景图片的地址，alt为本图片的简单描述，图片宽高600px*373px为最佳 -->
            <img src="http://www.biomart.cn/topic/edm/promotion/20150115/bottom.jpg" class="img1" alt="圣诞促销" border="0" style="max-width: 740px;width:100%;max-height: 462px;height:auto" />
        </td>
    </tr>
    <!-- 底部背景图-end -->

    <!-- 咨询热线-start -->
    <tr>
        <td align="center" style="font-size: 12px;padding-top: 5px">
            了解更多促销信息，请访问促销汇总页或咨询丁香通采购帮忙热线：400-6571-909
        </td>
    </tr>
    <!-- 咨询热线-end -->

    <tr>
        <td align="center" style="font-size: 12px;padding-bottom: 5px;">
            Copyright © 2000-2015 DXY All Rights Reserved.
            <a href="$quiturl" style="color: #db5f23">退订</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>