
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <!-- title标题 -->
    <title>d-title 丁香通EDM模板--会议</title>
    <!-- 下面meta里的content写关键词，如果没有删除这个meta -->
    <meta name="keywords" content="d-keywords" />
    <!-- 下面meta里的content写这个edm的描述，如果没有删除这个meta -->
    <meta name="description" content="d-descriptions" />

    <meta content="IE=7" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <style type="text/css">
        @media only screen and (max-width: 600px)  {
            .devicewidth{width:100%!important;}
            .dxy_height{height: 15px!important;}
            .dxy_td{padding-left: 3%!important;padding-right: 3%!important; }
            .dxy_td_sm{padding-left: 2%!important; padding-right: 2%!important;}
            .dxy_img{width:100% !important; height:auto!important;}
            .dxy_show{display: block!important;}
            #dxy_col_img td{display: block;margin-right: 4%;margin-bottom: 4%;width: 46%; float: left;text-align: left;}
            #dxy_col_img td img{width: 100%;}
            .dxy_td_height{height: 6px!important;}
            .m-div{display: block;margin-top: 5px !important;float: left !important;margin-bottom: 20px;}
        }
    </style>
</head>

<body>
<!-- 顶部点此阅读-start -->
<table width="650" cellpadding="0" cellspacing="0" align="center" border="0" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 24px; color:#333;" class="devicewidth">
    <tbody>
    <tr>
        <!--预留空白-->
        <td height="30" align="center" style="font-size: 12px;">
            若邮件无法显示，请<a href="#" style="color: #4788de">点此阅读</a>
        </td>
    </tr>
    </tbody>
</table>
<!-- 顶部点此阅读-end -->

<table width="650" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;border: 1px solid #f2f2f2;" class="devicewidth">
    <tbody>
    <!-- 顶部背景图-start -->
    <tr>
        <td>
            <!-- a标签href等于点击背景图需要跳转的链接，href等于后面的字符串需要加双引号 -->
            <a href="#" target="_blank">
                <!-- img标签的src等于背景图的地址，alt等于背景图主题描述，背景图650px*245px -->
                <img src="http://www.biomart.cn/topic/edm/template/meeting/banner.jpg" alt="" width="648" height="245" border="0" style="display:block;" class="dxy_img" />
            </a>
        </td>
    </tr>
    <!-- 顶部背景图-end -->

    <!-- banner下方正文内容-start -->
    <tr>
        <td style="padding-left: 14px; padding-right: 15px;" class="dxy_td_sm">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;  line-height: 22px; color:#333;" class="devicewidth">
                <tbody>
                <!-- 第一行正文内容-start -->
                <tr>
                    <td style="padding-left: 20px;padding-right: 20px;padding-top: 12px;" class="dxy_td">
                        d-1时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。
                    </td>
                </tr>
                <!-- 第一行正文内容-end -->

                <!-- 列表-start -->
                <tr>
                    <td height="10" class="dxy_height">&nbsp;</td>
                </tr>
                <tr>
                    <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 24px; color:#333;" class="devicewidth">
                            <tbody>
                            <!-- 会议内容标题-start -->
                            <tr>
                                <td style="border-bottom: 1px solid #96ddf4;" colspan="2">
                                    <div style="width: 110px; height: 28px; line-height:28px; background:#96ddf4; text-align: center; font-size: 14px; font-weight: bold; color: #fff;">d-2会议内容</div>
                                </td>
                            </tr>
                            <!-- 会议内容标题-end -->

                            <!-- 会议内容描述-start -->
                            <tr>
                                <td colspan="2" style="padding-top: 10px;">
                                    d-2.1时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。时值开学，威斯腾推出最新优惠。
                                </td>
                            </tr>
                            <!-- 会议内容描述-end -->

                            <!-- 活动专题-start -->
                            <tr>
                                <td height="10" class="dxy_height" colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <!-- 如果这个tr里面只有一个td，则需要在td里面添加属性colspan="2" -->
                                <td style="border-bottom: 1px solid #96ddf4;">
                                    <!-- 活动专题标题 -->
                                    <div style="width: 110px; height: 28px; line-height:28px; background:#96ddf4; text-align: center; font-size: 14px; font-weight: bold; color: #fff;">d-3活动专题</div>
                                </td>
                                <td width="75" style="height: 28px; line-height:28px; border-bottom: 1px solid #96ddf4;" align="right">
                                    <!-- 更多职位，‘&gt;’表示一个右箭头，a标签href等于更多职位的链接 -->
                                    <a style="color: #999; text-decoration: none" href="http://www.jobmd.cn/company/877442.htm" target="_blank">更多职位&gt;&gt;</a>
                                </td>
                            </tr>
                            <!-- 活动专题-end -->

                            <!-- 活动专题内容-start -->
                            <tr>
                                <td colspan="2" style="padding-top: 10px;">
                                    <div style="width: 60%;float: left" class="devicewidth">
                                        <!-- 如果需要添加一行，每一行后面加一个<br />表示换行显示 -->
                                        d-3.1主题：生物过程工艺第八期网络研讨会<br>
                                        d-3.2时间：2014年11月20日（周四）下午14:30-15:30<br>
                                        d-3.3讲师：Eppendorf技术支持 李杰 先生<br>
                                    </div>
                                    <!-- 立即报名-start -->
                                    <div style="text-align:center;font-size:14px;background-color: #96ddf4;width: 100px;line-height: 35px;height: 35px;float: right;margin-top: 50px;" class="m-div">
                                        <!-- a标签的href等于立即报名的跳转连接 -->
                                        <a href="#" style="color: #fff;text-decoration: none;" target="_blank">
                                            <strong>立即报名</strong>
                                        </a>
                                    </div>
                                    <!-- 立即报名-end -->
                                </td>
                            </tr>
                            <!-- 活动专题内容-end -->
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- 列表-end -->

                <!-- 相关图片-start -->
                <tr>
                    <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
                        <!-- 标题模块 -->
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;" class="devicewidth">
                            <tbody>
                            <tr>
                                <td style="border-bottom: 1px solid #96ddf4;">
                                    <!-- 相关图片标题 -->
                                    <div style="width: 110px; height: 28px; line-height:28px; background:#96ddf4; text-align: center; font-size: 14px; font-weight: bold; color: #fff;">d-4相关图片</div>
                                </td>
                            </tr>
                            <tr>
                                <td height="20" class="dxy_height">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- 相关图片-end -->

                <!-- 相关图片集合-start -->
                <tr>
                    <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;" class="devicewidth" id="dxy_col_img">
                            <tbody>
                            <tr>
                                <!-- 以下为图片集合 -->
                                <!-- 如果需要添加一个或多个图片，从one-start至one-end之间复制，并将img标签src换成需要现实的图片路径 -->
                                <!-- one-start -->
                                <td align="center">
                                    <img src="http://www.jobmd.cn/topic/edm/20150108/img1.jpg" alt="" width="139" height="100" border="0" style="display:block;" />
                                </td>
                                <!-- one-end -->

                                <!-- two-start -->
                                <td align="center">
                                    <img src="http://www.jobmd.cn/topic/edm/20150108/img2.jpg" alt="" width="139" height="100" border="0" style="display:block;" />
                                </td>
                                <!-- two-end -->

                                <!-- three-start -->
                                <td align="center">
                                    <img src="http://www.jobmd.cn/topic/edm/20150108/img3.jpg" alt="" width="139" height="100" border="0" style="display:block;" />
                                </td>
                                <!-- three-end -->

                                <!-- four-start -->
                                <td align="center">
                                    <img src="http://www.jobmd.cn/topic/edm/20150108/img4.jpg" alt="" width="139" height="100" border="0" style="display:block;" />
                                </td>
                                <!-- four-end -->
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- 相关图片集合-end -->

                <!-- 联系方式-start -->
                <tr>
                    <td height="20" class="dxy_height">&nbsp;</td>
                </tr>
                <tr>
                    <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
                        <!-- <br />表示换行显示，‘&nbsp;’表示空格 -->
                        d-5.1联系人：计先生<br>
                        d-5.2电&nbsp;&nbsp;&nbsp;话：010-80841256；0316-3302612<br>
                        d-5.3地&nbsp;&nbsp;&nbsp;址：北京东燕郊开发区思菩兰西侧<br>
                        d-5.4网&nbsp;&nbsp;&nbsp;址：<a href="http://www.yandahospital.com/" target="_blank" style="color:#96ddf4;text-decoration: underline;">www.yandahospital.com </a>
                    </td>
                </tr>
                <!-- 联系方式-end -->

                <tr>
                    <td height="30" class="dxy_height">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="10" class="dxy_td_height"></td>
    </tr>
    <!-- banner下方正文内容-end -->
    </tbody>
</table>
</body>
</html>