
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <!-- title里面内容写标题 -->
    <title>丁香通EDM模板--活动</title>
    <meta content="IE=7" http-equiv="X-UA-Compatible" />
    <!-- 下面meta里的content写关键词，如果没有删除这个meta -->
    <meta name="keywords" content="" />
    <!-- 下面meta里的content写这个edm的描述，如果没有删除这个meta -->
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <style type="text/css">
        @media only screen and (max-width: 600px)  {
            .devicewidth{width:100%!important;}
            .dxy_height{height: 15px!important;}
            .dxy_height2{height: 30px!important;}
            .dxy_height5{height: 2px!important;}
            .dxy_td{padding-left: 3%!important;padding-right: 3%!important; }
            .dxy_img{width:100%!important; height:auto!important;}
            .dxy_hidden{display: none!important;font-size: 0!important; line-height: 0!important;}
            .dxy_show{display: block!important;}
            #dxy_col_img td{display: block;margin-right: 4%;margin-bottom: 4%;width: 46%;float: left;text-align: left;}
            #dxy_col_img td img{width: 100%!important;height: auto!important;}
            .m-div{width: 100%!important;box-sizing: border-box!important;}
        }
    </style>
</head>
<body>
<!-- 顶部点此阅读-start -->
<table width="650" cellpadding="0" cellspacing="0" align="center" border="0" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 24px; color:#333;" class="devicewidth">
    <tbody>
    <tr>
        <!--预留空白-->
        <td height="30" align="center"  style="font-size: 12px;">
            若邮件无法显示，请<a href="#" style="color: #4788de">点此阅读</a>
        </td>
    </tr>
    </tbody>
</table>
<!-- 顶部点此阅读-end -->

<table width="650" border="0" cellpadding="0" cellspacing="0" align="center" style="border:1px solid #cdcdcd;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 22px; color:#666;" class="devicewidth">
<!-- 顶部背景logo图-start -->
<tr>
    <td height="40" style="padding-left: 30px;" class="dxy_td">
        <!-- a标签href等于点击背景logo图需要跳转的链接，href等于后面的字符串需要加双引号 -->
        <a href="http://www.jobmd.cn/specials/kingmed/article/59900" target="_blank" style="display: block;margin: 5px 0">
            <img  border="0" width="140" height="40" src="http://www.biomart.cn/topic/edm/template/activity/logo.png" alt="活动类" />
        </a>
    </td>
</tr>
<!-- 顶部背景logo图-end -->

<!-- 顶部背景图-start -->
<tr>
    <td>
        <!-- a标签href等于点击背景图需要跳转的链接，img标签src等于图片路径，图片大小为650px*280px为最佳 -->
        <a href="http://www.jobmd.cn/specials/kingmed" target="_blank">
            <img border="0" width="648" height="280" src="http://www.biomart.cn/topic/edm/template/activity/banner.jpg" alt="活动类" class="dxy_img" />
        </a>
    </td>
</tr>
<tr>
    <td height="30" class="dxy_height"></td>
</tr>
<!-- 顶部背景图-end -->

<tr>
    <td style="padding:0 30px;" class="dxy_td">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;border-top:0; line-height: 22px; color:#666;" class="devicewidth">
            <tbody>
            <!-- 活动简介标题-start -->
            <tr>
                <td style="font-size: 16px; font-weight: bold; color: #014ba3;">活动简介</td>
            </tr>
            <tr>
                <td height="5" class="dxy_height5"></td>
            </tr>
            <!-- 活动简介标题-end -->

            <!-- 活动简介内容-start -->
            <tr>
                <td>
                    <!-- 如果内容里面需要添加链接，则需要给文字间加a标签，如本段文字最后四个字查看详情 -->
                    呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染(包括毛细支气管炎和肺炎)最重要的病因之一。呼吸道合胞病毒的最初症状类似轻微感冒症状比如流鼻涕、轻微咳嗽、发烧等，甚至有时出现呼呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染(包括毛细支气管炎和肺炎)最重要的病因之一。呼吸道合胞病毒的最初症状类似轻微感冒症状比如流鼻涕、轻微咳嗽、发烧等，甚至有时出现呼呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染(包括毛细支气管炎和肺炎)最重要的病因之一。呼吸道合胞病毒的最初症状类似轻微感冒症状<a href="#" style="color: #4788de">查看详情 ></a>
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px dashed #e2e2e2;padding-top: 30px;"></td>
            </tr>
            <tr>
                <td height="30" class="dxy_height"></td>
            </tr>
            <!-- 活动简介内容-end -->

            <!-- 活动规则-start -->
            <tr>
                <td style="font-size: 16px; font-weight: bold; color: #014ba3;">活动规则</td>
            </tr>
            <tr>
                <td height="5" class="dxy_height5"></td>
            </tr>
            <!-- 活动规则-end -->

            <!-- 活动规则内容-start -->
            <tr>
                <td>
                    <div class="m-div" style="margin: 0;padding: 0;width: 60%;float: left">
                        <ul style="margin: 0;padding: 0">
                            <!-- 如下为四条活动规则，每条规则的代码一模一样，现如果需要添加一条或者多条，可以从one-start至one-end之间复制代码，然后将内容替换 -->
                            <!-- one-start -->
                            <li style="list-style: inside square;margin: 0;padding: 0;color: #4788de;font-size: 14px;">
                                <span style="font-size: 12px;color: #666">呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染；</span>
                            </li>
                            <!-- one-end -->

                            <!-- two-start -->
                            <li style="list-style: inside square;margin: 0;padding: 0;color: #4788de;font-size: 14px;">
                                <span style="font-size: 12px;color: #666">呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染；</span>
                            </li>
                            <!-- two-end -->

                            <!-- three-start -->
                            <li style="list-style: inside square;margin: 0;padding: 0;color: #4788de;font-size: 14px;">
                                <span style="font-size: 12px;color: #666">呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染；</span>
                            </li>
                            <!-- three-end -->

                            <!-- four-start -->
                            <li style="list-style: inside square;margin: 0;padding: 0;color: #4788de;font-size: 14px;">
                                <span style="font-size: 12px;color: #666">呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染；</span>
                            </li>
                            <!-- four-end -->
                        </ul>
                    </div>

                    <!-- 点此参加活动-start -->
                    <div class="m-div" style="margin: 0;padding: 0;width: 40%;float: right;margin-top: 5%;">
                        <!-- a标签的href等于点击参加活动的链接 -->
                        <a href="#">
                            <img src="http://www.biomart.cn/topic/edm/template/activity/btn.png" alt="" />
                        </a>
                    </div>
                    <!-- 点此参加活动-end -->
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px dashed #e2e2e2;padding-top: 30px;"></td>
            </tr>
            <tr>
                <td height="30" class="dxy_height"></td>
            </tr>
            <!-- 活动规则内容-end -->

            <!-- 活动奖励-start -->
            <tr>
                <td style="font-size: 16px; font-weight: bold; color: #014ba3;">活动奖励</td>
            </tr>
            <tr>
                <td height="5" class="dxy_height5"></td>
            </tr>
            <!-- 活动奖励-end -->

            <!-- 活动奖励图片集合-start -->
            <tr>
                <td style="padding-left: 0px; padding-right: 0px;" class="dxy_td">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;" class="devicewidth" id="dxy_col_img">
                        <tbody>
                        <tr>
                            <td height="5" class="dxy_height5"></td>
                        </tr>
                        <tr>
                            <!-- 以下为三个图片集合，如果需要删除或者添加的，可以复制one-start至one-end之间的代码 -->
                            <!-- one-start -->
                            <td align="center" style='font-family: "microsoft yahei", "黑体";font-size: 14px;'>
                                <!-- 第一个img标签卫奖励奖品大图 -->
                                <img src="http://www.biomart.cn/topic/edm/template/activity/img1.jpg" alt="" width="170" height="128" border="0" style="display:block;" />
                                <!-- 第二张图片为底部阴影图 -->
                                <img src="http://www.biomart.cn/topic/edm/template/activity/sp.png" alt="" width="170" height="20" border="0" style="display:block;" />
                                奖品名称
                            </td>
                            <!-- one-end -->

                            <!-- two-start -->
                            <td align="center"style='font-family: "microsoft yahei", "黑体";font-size: 14px;'>
                                <img src="http://www.biomart.cn/topic/edm/template/activity/img1.jpg" alt="" width="170" height="128" border="0" style="display:block;" />
                                <img src="http://www.biomart.cn/topic/edm/template/activity/sp.png" alt="" width="170" height="20" border="0" style="display:block;" />
                                奖品名称
                            </td>
                            <!-- two-end -->

                            <!-- three-start -->
                            <td align="center"style='font-family: "microsoft yahei", "黑体";font-size: 14px;'>
                                <img src="http://www.biomart.cn/topic/edm/template/activity/img1.jpg" alt="" width="170" height="128" border="0" style="display:block;" />
                                <img src="http://www.biomart.cn/topic/edm/template/activity/sp.png" alt="" width="170" height="20" border="0" style="display:block;" />
                                奖品名称
                            </td>
                            <!-- three-end -->
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- 活动奖励图片集合-end -->

            <!-- 联系方式-start -->
            <tr>
                <td height="35" class="dxy_height"></td>
            </tr>
            <tr>
                <td style="background-color: #f2f2f2;padding: 20px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                        <tbody>
                        <tr>
                            <td style="line-height: 25px;">
                                <!-- 添加一条内容就需要在对应的内容后面加上<br /> -->
                                <strong style="font-size: 14px;">艾本德中国有限公司</strong><br>

                                官网：<a href="http://www.eppendorf.cn" style="color: #666">www.eppendorf.cn</a><br>

                                电话：86-21-38560500 <br>传真：86-21-38560555<br>

                                Email：<a href="mailto:market.info@eppendorf.cn" style="color: #666">market.info@eppendorf.cn</a> <br> 微博：<a href="http://weibo.com/eppendorfchina" style="color: #666">weibo.com/eppendorfchina</a><br>

                                地址：上海浦东新区浦建路 76 号上海由由国际广场 17层02-05单元

                            </td>

                            <!-- 二维码-start -->
                            <td class="dxy_hidden">
                                <!-- img标签的src等于二维码图片路径，二维码大小122px*122px为最佳 -->
                                <img src="http://www.biomart.cn/topic/edm/template/activity/wx.jpg" width="122" height="122"/>
                            </td>
                            <!-- 二维码-end -->
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- 联系方式-end -->

            <tr>
                <td height="35" class="dxy_height"></td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
</table>

<!-- 最底部丁香通制作-start -->
<table  width="650" align="center" border="0" cellpadding="0" cellspacing="0" style='padding:15px 0;text-align:center;font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:12px; color:#888' class="devicewidth">
    <tbody>
    <tr>
        <td>本页面由复能基因委托<a href="http://www.biomart.cn/" target="_blank">丁香通</a>制作</td>
    </tr>
    </tbody>
</table>
<!-- 最底部丁香通制作-end -->
</body>
</html>