
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <!-- title标题 -->
    <title>d-title 丁香通EDM模板--产品</title>
    <!-- 下面meta里的content写关键词，如果没有删除这个meta -->
    <meta name="keywords" content="d-keywords" />
    <!-- 下面meta里的content写这个edm的描述，如果没有删除这个meta -->
    <meta name="description" content="d-descriptions" />

    <meta content="IE=7" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <style type="text/css">
        @media only screen and (max-width: 600px)  {
            .devicewidth{width:100%!important;}
            .dxy_height{height: 15px!important;}
            .dxy_table{padding-left: 3%!important;padding-right: 3%!important;}
            .dxy_img{width:100% !important; height:auto!important;}
            .dxy_hidden{display: none!important;font-size: 0!important; line-height: 0!important;}
            .m-img{width:100% !important;height: auto;}
            .m-txt{vertical-align: top;padding-left:10px;}
            .m-txt h1{padding-bottom: 0px!important;font-size: 16px!important;}
        }
    </style>
</head>
<body>
<!-- 顶部点此阅读-start -->
<table style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 24px; color:#333;" class="devicewidth" align="center" width="650" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <!--预留空白-->
        <td style="font-size: 12px;" align="center" height="30">
            若邮件无法显示，请<a href="#" style="color: #4788de">点此阅读</a>
        </td>
    </tr>
    </tbody>
</table>
<!-- 顶部点此阅读-end -->

<table style="border:1px solid #cdcdcd;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 22px; color:#666;" class="devicewidth" align="center" width="650" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <!-- 顶部背景logo图-start -->
    <tr>
        <td style="padding-left: 30px;" class="dxy_td" height="40">
            <!-- a标签href等于点击背景logo图需要跳转的链接，href等于后面的字符串需要加双引号{140px*40px} -->
            <a href="http://www.jobmd.cn/specials/kingmed/article/59900" target="_blank" style="display: block;margin: 5px 0">
                <img src="http://www.biomart.cn/topic/edm/template/activity/logo.png" alt="活动类" height="40" width="140" border="0" />
            </a>
        </td>
    </tr>
    <!-- 顶部背景logo图-end -->

    <!-- 顶部背景图-start -->
    <tr>
        <td>
            <!-- a标签href等于点击背景图需要跳转的链接，img标签src等于图片路径，图片大小为648px*280px为最佳 -->
            <a href="http://www.jobmd.cn/specials/kingmed" target="_blank">
                <img src="http://www.biomart.cn/topic/edm/template/activity/banner.jpg" alt="活动类" class="dxy_img" height="280" width="648" border="0" />
            </a>
        </td>
    </tr>
    <tr>
        <td class="dxy_height" height="30"></td>
    </tr>
    <!-- 顶部背景图-end -->

    <!-- 第一行正文内容-start -->
    <tr>
        <td style="padding:0 30px" class="dxy_table">d-1呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染(包括毛细支气管炎和肺炎)最重要的病因之一。呼吸道合胞病毒的最初症状类似轻微感冒症状比如流鼻涕...呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染(包括毛细支气管炎和肺炎)最重要的病因之一。呼吸道合胞病毒的最初症状类似轻微感冒症状比如流鼻涕...</td>
    </tr>
    <!-- 第一行正文内容-end -->

    <!-- 产品列表-start -->
    <tr>
        <td style="padding:0 30px" class="dxy_table">
            <table style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;border-top:0; line-height: 22px; color:#666;" class="devicewidth" align="center" width="100%" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>
                        <table style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;border-top:0; line-height: 22px; color:#666;" class="devicewidth" align="center" width="100%" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <!-- 以下包含三个产品信息，代码复用一模一样，如果需要添加一个产品信息，复制one-start至one-end之间的代码，然后替换掉里面的信息即可｛下面代码重复，因此只在第一块代码详细说明｝ -->

                            <!-- one-start -->
                            <tr>
                                <td class="dxy_height" height="30"></td>
                            </tr>
                            <tr>
                                <!-- 产品图片-start -->
                                <td width="26%">
                                    <img style="display:block;" alt="" src="http://www.biomart.cn/topic/edm/template/activity/img1.jpg" class="m-img" height="130" width="175" border="0" />
                                </td>
                                <!-- 产品图片-end -->

                                <!-- 中间阴影图片-start -->
                                <td class="dxy_hidden" width="18">
                                    <img style="display:block;" alt="" src="http://www.biomart.cn/topic/edm/template/product/sp2.png" height="128" width="18" border="0" />
                                </td>
                                <!-- 中间阴影图片-end -->

                                <!-- 产品详细信息-start -->
                                <td class="m-txt" style="padding-left: 5px;">
                                    <!-- h1之间为产品标题，第一个p为产品简介，第二个p为查看详情 -->
                                    <h1 style="margin: 0;padding: 0;font-size:20px;font-weight:normal;padding-bottom: 10px;font-family: 'microsoft yahei', '黑体' ">d-2.1产品标题</h1>
                                    <p style="padding: 0;margin: 0;">d-2.2呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染(包括毛细支气管炎和肺炎)最重要的病因之一。呼吸道合胞病毒的最初症状类似轻微感冒症状比如流鼻涕...</p>
                                    <p style="padding: 0;margin: 0">
                                        <!-- a标签的href等于查看更多超链接 -->
                                        <a href="#" style="color: #4788de">查看更多</a>
                                    </p>
                                </td>
                                <!-- 产品详细信息-end -->
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px dashed #e2e2e2;padding-top: 30px; " colspan="3"></td>
                            </tr>
                            <!-- one-end -->

                            <!-- two-start -->
                            <tr>
                                <td class="dxy_height" height="30"></td>
                            </tr>
                            <tr>
                                <td width="26%">
                                    <img style="display:block;" alt="" src="http://www.biomart.cn/topic/edm/template/activity/img1.jpg" class="m-img" height="130" width="175" border="0" />
                                </td>
                                <td class="dxy_hidden" width="18">
                                    <img style="display:block;" alt="" src="http://www.biomart.cn/topic/edm/template/product/sp2.png" height="128" width="18" border="0" />
                                </td>
                                <td class="m-txt" style="padding-left: 5px;">
                                    <h1 style="margin: 0;padding: 0;font-size:20px;font-weight:normal;padding-bottom: 10px;font-family: 'microsoft yahei', '黑体' ">d-3.1产品标题</h1>
                                    <p style="padding: 0;margin: 0;">d-3.2呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染(包括毛细支气管炎和肺炎)最重要的病因之一。呼吸道合胞病毒的最初症状类似轻微感冒症状比如流鼻涕...</p>
                                    <p style="padding: 0;margin: 0"><a href="#" style="color: #4788de">查看更多</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px dashed #e2e2e2;padding-top: 30px; " colspan="3"></td>
                            </tr>
                            <!-- two-end -->

                            <!-- three-start -->
                            <tr>
                                <td class="dxy_height" height="30"></td>
                            </tr>
                            <tr>
                                <td width="26%">
                                    <img style="display:block;" alt="" src="http://www.biomart.cn/topic/edm/template/activity/img1.jpg" class="m-img" height="130" width="175" border="0">
                                </td>
                                <td class="dxy_hidden" width="18">
                                    <img style="display:block;" alt="" src="http://www.biomart.cn/topic/edm/template/product/sp2.png" height="128" width="18" border="0">
                                </td>
                                <td class="m-txt" style="padding-left: 5px;">
                                    <h1 style="margin: 0;padding: 0;font-size:20px;font-weight:normal;padding-bottom: 10px;font-family: 'microsoft yahei', '黑体'">d-4.1产品标题</h1>
                                    <p style="padding: 0;margin: 0;">d-4.2呼吸道合胞病毒(RSV)是1岁以下婴幼儿下呼吸道感染(包括毛细支气管炎和肺炎)最重要的病因之一。呼吸道合胞病毒的最初症状类似轻微感冒症状比如流鼻涕...</p>
                                    <p style="padding: 0;margin: 0"><a href="#" style="color: #4788de">查看更多</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: 1px dashed #e2e2e2;padding-top: 30px; " colspan="3"></td>
                            </tr>
                            <!-- three-end -->
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!-- 联系方式-start -->
                <tr>
                    <td class="dxy_height" height="35"></td>
                </tr>
                <tr>
                    <td style="background-color: #f2f2f2;padding: 20px;">
                        <table style="font-size: 12px;" align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <!-- 联系方式正文内容-start -->
                                <td style="font-size: 12px;">
                                    <!-- 添加一条内容就需要在对应的内容后面加上<br /> -->
                                    <strong style="font-size: 14px;">d-5艾本德中国有限公司</strong><br>

                                    d-5.1官网：<a href="http://www.eppendorf.cn" style="color: #666">www.eppendorf.cn</a><br>

                                    d-5.2电话：86-21-38560500 <br>

                                    d-5.3传真：86-21-38560555<br>

                                    d-5.4Email：<a href="mailto:market.info@eppendorf.cn" style="color: #666">market.info@eppendorf.cn</a> <br>

                                    d-5.5微博：<a href="http://weibo.com/eppendorfchina" style="color: #666">weibo.com/eppendorfchina</a><br>

                                    d-5.6地址：上海浦东新区浦建路 76 号上海由由国际广场 17层02-05单元

                                </td>
                                <!-- 联系方式正文内容-end -->

                                <!-- 二维码-start -->
                                <td class="dxy_hidden">
                                    <!-- img标签的src等于二维码图片路径，二维码图片大小122px*122px为最佳 -->
                                    <img src="http://www.biomart.cn/topic/edm/template/activity/wx.jpg" height="122" width="122" />
                                </td>
                                <!-- 二维码-end -->
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- 联系方式-end -->

                <tr>
                    <td class="dxy_height" height="35"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- 产品列表-end -->
    </tbody>
</table>

<!-- 最底部丁香通制作-start -->
<table style="padding:15px 0;text-align:center;font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:12px; color:#888;" class="devicewidth" align="center" width="650" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td>
            本页面由复能基因委托<a href="http://www.biomart.cn/" target="_blank">丁香通</a>制作</td>
    </tr>
    </tbody>
</table>
<!-- 最底部丁香通制作-end -->
</body>
</html>