
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <!-- title标题 -->
    <title>d-title 丁香通EDM模板--促销</title>
    <!-- 下面meta里的content写关键词，如果没有删除这个meta -->
    <meta name="keywords" content="d-keywords" />
    <!-- 下面meta里的content写这个edm的描述，如果没有删除这个meta -->
    <meta name="description" content="d-description" />

    <meta content="IE=7" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <style type="text/css">
        @media only screen and (max-width: 600px)  {
            .devicewidth{width:100%!important;}
            .dxy_height{height: 10px!important;}
            .dxy_height2{height: 20px!important;}
            .dxy_img{width:100% !important; height:auto!important;}
            .dxy_hidden{display: none!important;font-size: 0!important; line-height: 0!important;}
        }
    </style>
</head>
<body>
<!-- 顶部点此阅读-start -->
<table class="devicewidth" style="display:table;border-collapse:separate;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 24px; color:#333;" align="center" width="650" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <!--预留空白-->
        <td style="font-size: 12px;" align="center" height="30">
            若邮件无法显示，请<a href="#" style="color: #4788de">点此阅读</a>
        </td>
    </tr>
    </tbody>
</table>
<!-- 顶部点此阅读-end -->

<!-- logo行-start -->
<table class="devicewidth" style="display:table;border-collapse:separate;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height:24px;color:#333;" align="center" width="650" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td align="left"><img width="142" height="50" src="http://www.biomart.cn/topic/edm/template/t5/logo.jpg" alt="丁香通" /></td>
        <td align="right" style="padding-right:20px;">
            <span>d-1丁香通促销期刊</span>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span>d-2第1期</span>
        </td>
    </tr>
    </tbody>
</table>
<!-- logo行-end -->

<!-- 第一个用药-start{a的href等于产品需要跳转的链接} -->
<a href="#" target="_blank">
    <table class="devicewidth" style="display:table;border-collapse:separate;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height:24px;color:#333;border-bottom:1px solid #cdcdcd;" align="center" width="650" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td colspan="2" height="10" class="dxy_height"></td>
        </tr>
        <tr>
            <!-- img的src等于促销产品图片访问路径，最佳效果图片大小：650px*460px -->
            <td colspan="2"><img width="650" src="http://www.biomart.cn/topic/edm/template/t5/1.jpg" alt="#" class="dxy_img" /></td>
        </tr>
        <tr>
            <td colspan="2" height="20" class="dxy_height"></td>
        </tr>
        <!-- 促销产品信息-start -->
        <tr style="font-size: 16px;font-weight: bold;color: #333;">
            <!-- 促销产品名称 -->
            <td align="left" style="padding-left:20px;">d-3.1ELISA试剂盒</td>
            <!-- 促销产品优惠价格 -->
            <td align="right" style="padding-right:20px;color: #df5f23;">d-3.2￥1600</td>
        </tr>
        <!-- 促销产品信息-end -->
        <tr>
            <!-- 促销产品简单描述 -->
            <td align="left" style="padding-left:20px;color: #5a5a5a;">d-3.3现在购买，参与抽奖活动，有机会获得全年免费试剂支持。</td>
            <!-- 促销产品实际价格 -->
            <td align="right" style="padding-right:20px;text-decoration: line-through;color: #5a5a5a;">d-3.4￥1700</td>
        </tr>
        <tr>
            <td colspan="2" height="10" class="dxy_height"></td>
        </tr>
        </tbody>
    </table>
</a>
<!-- 第一个用药-end -->

<!-- 第二个用药-start{a的href等于产品需要跳转的链接} -->
<a href="#" target="_blank">
    <table class="devicewidth" style="display:table;border-collapse:separate;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height:24px;color:#333;border-bottom:1px solid #cdcdcd;" align="center" width="650" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td colspan="2" height="10" class="dxy_height"></td>
        </tr>
        <tr>
            <!-- img的src等于促销产品图片访问路径，最佳效果图片大小：650px*460px -->
            <td colspan="2"><img width="650" src="http://www.biomart.cn/topic/edm/template/t5/1.jpg" alt="#" class="dxy_img" /></td>
        </tr>
        <tr>
            <td colspan="2" height="20" class="dxy_height"></td>
        </tr>
        <!-- 促销产品信息-start -->
        <tr style="font-size: 16px;font-weight: bold;color: #333;">
            <!-- 促销产品名称 -->
            <td align="left" style="padding-left:20px;">d-4.1ELISA试剂盒</td>
            <!-- 促销产品优惠价格 -->
            <td align="right" style="padding-right:20px;color: #df5f23;">d-4.2￥1600</td>
        </tr>
        <!-- 促销产品信息-end -->
        <tr>
            <!-- 促销产品简单描述 -->
            <td align="left" style="padding-left:20px;color: #5a5a5a;">d-4.3现在购买，参与抽奖活动，有机会获得全年免费试剂支持。</td>
            <!-- 促销产品实际价格 -->
            <td align="right" style="padding-right:20px;text-decoration: line-through;color: #5a5a5a;">d-4.4￥1700</td>
        </tr>
        <tr>
            <td colspan="2" height="10" class="dxy_height"></td>
        </tr>
        </tbody>
    </table>
</a>
<!-- 第二个用药-end -->

<!-- 二维码-start -->
<table class="devicewidth" style="display:table;border-collapse:separate;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height:24px;color:#333;" align="center" width="650" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td colspan="2" height="25" class="dxy_height2"></td>
    </tr>
    <tr style="font-size: 16px;font-weight: bold;color: #333;">
        <td align="left" style="padding-left:20px;" width="70%">更多促销，请关注生物学霸</td>
        <!-- img等于二维码的图片途径，alt等于简单的描述 -->
        <td rowspan="3" align="right" style="padding-right:20px;">
            <img class="dxy_img" width="75" height="75" src="http://www.biomart.cn/topic/edm/template/t5/qrcode.jpg" alt="生物学霸" />
        </td>
    </tr>
    <tr>
        <td align="left" style="padding-left:20px;color: #5a5a5a;">长按二维码活微信搜索：shengwuxueba</td>
    </tr>
    <tr>
        <td align="left" style="padding-left:20px;color: #5a5a5a;">即可关注</td>
    </tr>
    </tbody>
</table>
<!-- 二维码-end -->
</body>
</html>