
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <!-- title标题 -->
    <title>d-title 郑州市第九人民医院面向全国引进医疗高端人才</title>
    <!-- 下面meta里的content写关键词，如果没有删除这个meta一行 -->
    <meta name="keywords" content="d-keywords 郑州市第九人民医院, 博士, 应届, 心血管, 呼吸内科" />
    <!-- 下面meta里的content写这个edm的描述，如果没有删除这个meta一行 -->
    <meta name="description" content="d-description 郑州市第九人民医院（郑州市老年医院、河南省红十字郑州医院、郑州市心理卫生中心）始建于1969年，是一所集医疗、保健、康复、教学、科研为一体的综合 性国家二级甲等医院。同时也是国家区域性老年医养中心，河南省老年医养协作联盟发起成立单位，省、市、区、铁路医保定点单位，全省新农合定点直补医院。" />

    <meta content="IE=7" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <style type="text/css">
        @media only screen and (max-width: 600px) {
            .devicewidth {width: 100%!important;}
            .dxy_height {height: 15px!important;}
            .dxy_td {padding-left: 3%!important;padding-right: 3%!important;}
            .dxy_td_sm {padding-left: 2%!important;padding-right: 2%!important;}
            .dxy_img {width: 100% !important;height: auto!important;}
            .dxy_hidden {display: none!important;line-height: 0!important;font-size: 0!important;}
            #dxy_col_img td {display: block;margin-right: 4%;margin-bottom: 4%;width: 46%;float: left;text-align: left;}
            #dxy_col_img td img {width: 100%;}
            .dxy_td_height {height: 6px!important;}
        }
    </style>
</head>

<body>
<table width="650" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#e8f8ff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#333;" class="devicewidth">
<tbody>
<!-- 背景图-start -->
<tr>
    <td>
        <!--
            a标签的href等于跳转链接，img标签里的src等于图片的url地址{注：图片大小650px*238px为最佳}，alt等于对背景图片的介绍。{注：每个等于号后面的字符串都需要英文双引号}
        -->
        <a href="http://www.jobmd.cn/company/1988084.htm" target="_blank">
            <img src="http://www.jobmd.cn/topic/edm20150312/banner.jpg" alt="#" width="650" height="238" border="0" style="display:block;" class="dxy_img" />
        </a>

    </td>
</tr>
<!-- 背景图-end -->

<!-- banner下方内容-start -->
<tr>
    <td style="padding-left: 10px; padding-right: 10px;" class="dxy_td_sm">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height:20px;color:#333;" class="devicewidth">
            <tbody>
            <tr>
                <td height="15" class="dxy_height">&nbsp;</td>
            </tr>

            <!-- 正文内容-start -->
            <tr>
                <td style="padding-left: 20px;padding-right: 20px;" class="dxy_td">
                    d-1郑州市第九人民医院（郑州市老年医院、河南省红十字郑州医院、郑州市心理卫生中心）始建于1969年，是一所集医疗、保健、康复、教学、科研为一体的综合性国家二级甲等医院。同时也是国家区域性老年医养中心，河南省老年医养协作联盟发起成立单位，省、市、区、铁路医保定点单位，全省新农合定点直补医院。
                </td>
            </tr>
            <tr>
                <td height="30" class="dxy_height">&nbsp;</td>
            </tr>
            <!-- 正文内容-end -->

            <!-- 招聘模块-start -->
            <tr>
                <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height:26px; color:#333;" class="devicewidth">
                        <tbody>

                        <!-- 急招岗位标题-start -->
                        <tr>
                            <td style="border-bottom: 1px solid #1276aa;">
                                <!-- 招聘岗位标题 -->
                                <div style="width: 100px; height: 35px; line-height:35px; background:#1276aa; text-align: center; font-size: 14px; font-weight: bold; color: #fff;">d-2急招岗位</div>
                            </td>

                            <td width="75" style="height: 35px; line-height:35px; border-bottom: 1px solid #1276aa;" align="right">
                                <!-- 更多职位, ‘&gt;’表示一个右箭头,a标签的href等于"更多职位"跳转链接 -->
                                <a style="color: #000; text-decoration: none" href="http://www.jobmd.cn/company/1988084.htm" target="_blank">更多职位&gt;&gt;</a>
                            </td>
                        </tr>
                        <tr>
                            <td height="15" colspan="2"></td>
                        </tr>
                        <!-- 急招岗位标题-end -->

                        <!-- 职位循环-start -->
                        <!--
                            1、如果需要增加一个职位；
                            2、复制从下面这个<tr>开始到往下数第一个</tr>截至。
                        -->
                        <!-- one-start -->
                        <tr>
                            <td>
                                <!-- a标签href等于职位跳转链接，“呼吸内科博士（应届）”为职位名称 -->
                                <a style="text-decoration: none;color:#333;font-size:14px;" target="_blank" href=" http://www.jobmd.cn/work/433326.htm">d-2.1呼吸内科博士（应届）</a>
                            </td>
                            <td align="right" valign="top">
                                <div class="dxy_hidden">
                                    <!-- a标签href等于申请上面职位跳转的链接 -->
                                    <a target="_blank" style="text-decoration: none;color:#333333;" href="http://www.jobmd.cn/user/apply.htm?action=Apply&ids=433326">d-2.2申请&gt;&gt;</a>
                                </div>
                            </td>
                        </tr>
                        <!-- one-end -->

                        <!-- 下面这个<tr>到</tr>之间复制一份就是一个职位 -->
                        <!-- two-start -->
                        <tr>
                            <td>
                                <a style="text-decoration: none;color:#333333;font-size:14px;" target="_blank" href=" http://www.jobmd.cn/work/394954.htm">d-2.3康复医学</a>
                            </td>
                            <td align="right" valign="top">
                                <div class="dxy_hidden">
                                    <a target="_blank" style="text-decoration: none;color:#333333;" href="http://www.jobmd.cn/user/apply.htm?action=Apply&ids=394954">d-2.4申请&gt;&gt;</a>
                                </div>
                            </td>
                        </tr>
                        <!-- two-end -->
                        <!-- 职位循环-end -->
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="30" class="dxy_height">&nbsp;</td>
            </tr>
            <!-- 招聘模块-end -->

            <!-- 联系方式标题-start -->
            <tr>
                <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;" class="devicewidth">
                        <tbody>
                        <tr>
                            <td style="border-bottom: 1px solid #1276aa;">
                                <div style="width: 100px; height: 38px; line-height:38px; background:#1276aa; text-align: center; font-size: 14px; font-weight: bold; color: #fff;">d-3联系方式</div>
                            </td>
                        </tr>
                        <tr>
                            <td height="15" class="dxy_height">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- 联系方式标题-end -->

            <!-- 联系方式内容-start -->
            <tr>
                <!-- ‘&nbsp;’表示一个空格，<br />表示换一行显示，如果需要自己添加一行数据到最后一行，需要在他的前一行结尾加<br /> -->
                <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
                    d-3.1联系人：徐老师、白老师
                    <br />
                    d-3.2电&nbsp;&nbsp;&nbsp;&nbsp;话：0371-60666520，60666521
                    <br/>
                    d-3.3邮&nbsp;&nbsp;&nbsp;&nbsp;箱：<a href="mailto:jiuyuanrenshike@163.com" style="color:#333;text-decoration:none;">jiuyuanrenshike@163.com</a>
                    <br/>
                    d-3.4地&nbsp;&nbsp;&nbsp;&nbsp;址：郑州市沙口路25号
                </td>
            </tr>
            <tr>
                <td height="30" class="dxy_height">&nbsp;</td>
            </tr>
            <!-- 联系方式内容-end -->

            <!-- 精彩图片标题-start{和上面的联系方式标题一模一样} -->
            <tr>
                <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;" class="devicewidth">
                        <tbody>
                        <tr>
                            <td style="border-bottom: 1px solid #00736d;">
                                <div style="width: 100px; height: 38px; line-height:38px; background:#1276aa; text-align: center; font-size: 14px; font-weight: bold; color: #ffffff;">d-4精彩图片</div>
                            </td>
                        </tr>
                        <tr>
                            <td height="15" class="dxy_height">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- 精彩图片标题-end -->

            <!-- 精彩图片集合-start -->
            <tr>
                <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;" class="devicewidth" id="dxy_col_img">
                        <tbody>
                        <!-- tr里面有四张图片，如果需要在加一张图片，可以从one-start至one-end全部复制，把img标签的src等于要添加的图片地址{注：此处选择为四张图片效果为最佳} -->
                        <tr>
                            <!-- one-start -->
                            <td align="center">
                                <img src="http://www.jobmd.cn/topic/edm20150312/m1.jpg" width="139" height="100" alt="#" border="0" style="display:block;" />
                            </td>
                            <!-- one-end -->

                            <!-- two-start -->
                            <td align="center">
                                <img src="http://www.jobmd.cn/topic/edm20150312/m2.jpg" width="139" height="100" alt="#" border="0" style="display:block;" />
                            </td>
                            <!-- two-end -->

                            <!-- three-start -->
                            <td align="center">
                                <img src="http://www.jobmd.cn/topic/edm20150312/m3.jpg" width="139" height="100" alt="#" border="0" style="display:block;" />
                            </td>
                            <!-- three-end -->

                            <!-- four-start -->
                            <td align="center">
                                <img src="http://www.jobmd.cn/topic/edm20150312/m4.jpg" width="139" height="100" alt="#" border="0" style="display:block;" />
                            </td>
                            <!-- four-end -->
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="30" class="dxy_height">&nbsp;</td>
            </tr>
            <!-- 精彩图片集合-end -->
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td height="10" class="dxy_td_height"></td>
</tr>
<!-- banner下方内容-end -->
</tbody>
</table>

<!-- GA -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16793801-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>