
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <!-- title标题 -->
    <title>d-title 瑞健功能医学中心 诚聘内科医生、医生助理</title>
    <!-- 下面meta里的content写关键词，如果没有删除这个meta一行 -->
    <meta name="keywords" content="d-keywords 北京；全科医生；内科医生；医师助理；应届毕业生" />
    <!-- 下面meta里的content写这个edm的描述，如果没有删除这个meta一行 -->
    <meta name="description" content="d-description 瑞健功能医学中心（简称瑞健中心）是一家中美合资企业，成立于2000年，位于东三环使馆区。拥有来自美国和韩国的医学顾问，专业背景的医护工作者。预防医学方向提供功能性医学检测，基因检测，运动生理学检测，多普勒超声波检测，神经认知功能检测，内分泌医学疗程，营养医学疗程，心理咨询，健身指导等。" />

    <meta content="IE=7" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <style type="text/css">
        @media only screen and (max-width: 600px) {
            .devicewidth {width: 100%!important;}
            .dxy_height {height: 15px!important;}
            .dxy_td {padding-left: 3%!important;padding-right: 3%!important;}
            .dxy_td_sm {padding-left: 2%!important;padding-right: 2%!important;}
            .dxy_img {width: 100% !important;height: auto!important;}
            .dxy_td_height {height: 6px!important;}
        }
    </style>
</head>

<body>
<table width="650" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eae5dc" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 26px; color:#333;" class="devicewidth">
<tbody>
<!-- 背景图-start -->
<tr>
    <td>
        <!--
            a标签的href等于跳转链接，img标签的src等于图片的url地址{注：图片大小650px*160px为最佳}，alt等于对背景图片的介绍。{注：每个等于号后面的字符串都需要英文双引号}
        -->
        <a href="http://www.jobmd.cn/company/1537891.htm" target="_blank">
            <img src="http://www.jobmd.cn/topic/edm20150310/banner.jpg" alt="#" width="650" height="160" border="0" style="display:block;" class="dxy_img" />
        </a>

    </td>
</tr>
<!-- 背景图-end -->

<!-- banner下方内容-start -->
<tr>
    <td style="padding-left: 10px; padding-right: 10px;" class="dxy_td_sm">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height:26px;color:#333;" class="devicewidth">
            <tbody>
            <tr>
                <td height="15" class="dxy_height">&nbsp;</td>
            </tr>

            <!-- 正文内容-start｛如果不需要或者需要添加正文内容，可以删除或复制’第一条正文内容‘并填充数据｝ -->
            <!-- 第一条正文内容-start -->
            <tr>
                <td style="padding-left: 20px;padding-right: 20px;" class="dxy_td">
                    <!-- 如果在一段正文内容里面需要添加超链接，则需要在对应的文字之间添加a标签，如：<a href="" target="_blank" style="color: #75603b">内容</a> -->
                    d-1.1<a href="http://www.jobmd.cn/company/1537891.htm" target="_blank" style="color: #75603b">瑞健功能医学中心</a>（简称瑞健中心）是一家中美合资企业，成立于2000年，位于东三环使馆区。中心拥有来自美国和韩国的医学顾问，专业背景的医护工作者。预防医学方向提供功能性医学检测，基因检测，运动生理学检测，多普勒超声波检测，神经认知功能检测，内分泌医学疗程，营养医学疗程，心理咨询，健身指导等。
                </td>
            </tr>
            <!-- 第一条正文内容-end -->

            <!-- 第二条正文内容-start -->
            <tr>
                <td style="padding-top: 10px;padding-left: 20px;padding-right: 20px;" class="dxy_td">
                    d-1.2我们为雇员提供舒适的工作环境，行业内极具竞争力的薪酬与福利，个人发展的巨大空间，以及每年赴美国参加短期培训的机会。
                </td>
            </tr>
            <!-- 第二条正文内容-end -->

            <tr>
                <td height="30" class="dxy_height">&nbsp;</td>
            </tr>
            <!-- 正文内容-end -->

            <!-- 内科医生-start -->
            <tr>
                <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fbf7ef" style="padding-bottom:20px;padding-top:20px; font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 26px; color:#333;" class="devicewidth">
                        <tbody>
                        <!-- 内科医生标题导航-start -->
                        <tr>
                            <td style="padding-left: 10px;background: url(http://www.jobmd.cn/topic/edm20150310/title.png); height: 30px;">
                                <!-- 内科医生标题，在a标签href等于内科医生跳转链接 -->
                                <a href="http://www.jobmd.cn/work/387019.htm" target="_blank" style="color: #fbf7ef;font-size:14px;font-weight: bold ">d-2内科医生</a>
                            </td>
                        </tr>
                        <!-- 内科医生标题导航-end -->

                        <tr>
                            <td height="15" style="padding-left: 20px;padding-top: 10px;color: #77603e; font-size: 14px;font-weight: bold">
                                d-2.1职位要求：
                            </td>
                        </tr>

                        <!-- 职位循环-start -->
                        <!-- 如果需要添加一条内容，可以从one-start至one-end之间复制让后往后黏贴替换内容即可 -->
                        <!-- one-start -->
                        <tr>
                            <td style="padding-left: 20px;padding-top: 10px;color: #77603e; font-size: 14px;">
                                * d-2.1.1Bachelor degree in Medical Science preferred 本科以上医学学位
                            </td>
                        </tr>
                        <!-- one-end -->

                        <!-- two-start -->
                        <tr>
                            <td style="padding-left: 20px;padding-top: 5px;color: #77603e; font-size: 14px;">
                                * d-2.1.2Minimum 2 years experience preferred 两年以上工作经验
                            </td>
                        </tr>
                        <!-- two-end -->

                        <!-- three-start -->
                        <tr>
                            <td style="padding-left: 20px;padding-top: 5px;color: #77603e; font-size: 14px;">
                                * d-2.1.3Excellent English in written and oral 优秀的英文写作和口语能力
                            </td>
                        </tr>
                        <!-- three-end -->

                        <!-- four-start -->
                        <tr>
                            <td style="padding-left: 20px;padding-top: 5px;color: #77603e; font-size: 14px;">
                                * d-2.1.4Good inter-personal skills 优秀的人际沟通能力
                            </td>
                        </tr>
                        <!-- four-end -->

                        <!-- five-start -->
                        <tr>
                            <td style="padding-left: 20px;padding-top: 5px;color: #77603e; font-size: 14px;">
                                * d-2.1.5Must be a good team player 优秀的团队合作能力
                            </td>
                        </tr>
                        <!-- five-end -->
                        <!-- 职位循环-end -->

                        <!-- 立即申请 -->
                        <tr>
                            <td align="center" style="padding-top: 20px; padding-bottom: 20px;background: url(http://www.jobmd.cn/topic/edm20150310/apply.png) center center no-repeat;" >
                                <!-- 在a标签href等于立即申请的超链接 -->
                                <a target="_blank" style="text-decoration: none;color:#fff;font-size: 14px;" href="http://www.jobmd.cn/user/apply.htm?action=Apply&ids=387019" >
                                    d-2.2立即申请
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- 内科医生-end -->

            <!-- 医生助理-sart｛同’内科医生‘一模一样-即复制版｝ -->
            <tr>
                <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fbf7ef" style="padding-bottom: 40px;padding-top:20px; font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 26px; color:#333;" class="devicewidth">
                        <tbody>
                        <tr>
                            <td style="padding-left: 10px;background: url(http://www.jobmd.cn/topic/edm20150310/title.png); height: 30px;">
                                <a href="http://www.jobmd.cn/work/387025.htm" target="_blank" style="color: #fbf7ef;font-size:14px;font-weight: bold; ">d-3医生助理</a>
                            </td>
                        </tr>

                        <tr>
                            <td height="15" style="padding-left: 20px;padding-top: 10px;color: #77603e; font-size: 14px; font-weight: bold;">
                                d-3.1职位要求：
                            </td>
                        </tr>

                        <!-- 职位循环-start -->
                        <tr>
                            <td style="padding-left: 20px;padding-top: 10px;color: #77603e; font-size: 14px;">
                                * d-3.1.1Bachelor degree in Medical Science preferred 本科以上医学学位
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-left: 20px;padding-top: 5px;color: #77603e; font-size: 14px;">
                                * d-3.1.2Minimum 1 years experience preferred 一年以上工作经验
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-left: 20px;padding-top: 5px;color: #77603e; font-size: 14px;">
                                * d-3.1.3Excellent English in written and oral 优秀的英文写作和口语能力
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-left: 20px;padding-top: 5px;color: #77603e; font-size: 14px;">
                                * d-3.1.4Good inter-personal skills 优秀的人际沟通能力
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-left: 20px;padding-top: 5px;color: #77603e; font-size: 14px;">
                                * d-3.1.5Must be a good team player 优秀的团队合作能力
                            </td>
                        </tr>
                        <!-- 职位循环-end -->

                        <!-- 立即申请 -->
                        <tr>
                            <td align="center" style="padding-top: 20px; padding-bottom: 20px;background: url(http://www.jobmd.cn/topic/edm20150310/apply.png) center center no-repeat;" >
                                <a target="_blank" style="text-decoration: none;color:#fff;font-size: 14px;" href="http://www.jobmd.cn/user/apply.htm?action=Apply&ids=387025" >
                                    d-3.2立即申请
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- 医生助理-end -->

            <tr>
                <td height="30" class="dxy_height">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<!-- banner下方内容-end -->

<!-- 联系信息-start -->
<!-- 每一个<tr></tr>表示一行，’&nbsp;‘表示一个空格 -->
<!-- one-start -->
<tr>
    <td style="padding-left:20px; padding-top: 20px;color: #77603e" align="left">
        d-4.1联系人：Tracy Yang
    </td>
</tr>
<!-- one-end -->

<!-- two-start -->
<tr>
    <td align="left" style="padding-left:20px; color: #77603e">
        d-4.2邮&nbsp;&nbsp;&nbsp;&nbsp;箱：<a href="mailto:ssyrsk_324@163.com" style="color:#77603e;">hr@rejuvachina.com</a>
    </td>
</tr>
<!-- two-end -->

<!-- three-start -->
<tr>
    <td align="left" style="padding-left:20px; color: #77603e">
        d-4.3地&nbsp;&nbsp;&nbsp;&nbsp;址：北京东城区新中街68号
    </td>
</tr>
<!-- three-end -->

<!-- four-start -->
<tr>
    <td align="left" style="padding-left:20px;padding-bottom: 20px; color: #77603e">
        d-4.4网&nbsp;&nbsp;&nbsp;&nbsp;址：<a href="http://www.rejuva-institute.com/" target="_blank" style="color:#77603e;">www.rejuva-institute.com/</a>
    </td>
</tr>
<!-- four-end -->
<!-- 联系信息-end -->

<tr>
    <td height="20" class="dxy_td_height"></td>
</tr>
</tbody>
</table>

<!-- GA -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16793801-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>