
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <!-- title标题 -->
    <title>d-title 丁香园邀你参加医疗行业中高级人才交流会</title>
    <!-- 下面meta里的content写关键词，如果没有删除这个meta一行 -->
    <meta name="keywords" content="d-keywords 上海；医疗；生物；药学；科研；管理；博士；交流" />
    <!-- 下面meta里的content写这个edm的描述，如果没有删除这个meta一行 -->
    <meta name="description" content="d-description 为促进医疗以及生物医药行业的高速发展，推动行业内中高级人才的良性流动，加强医院和企业与人才之间的交流与合作，作为国内医学领域最具品牌影响力的专业媒体——丁香园，携手中国科学院博士后联谊会上海分会，在上海举办“精英汇—第六届丁香园中高级人才交流会”，欢迎业内中高级人才参加！" />

    <meta content="IE=7" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=yes" />
    <style type="text/css">
    @media only screen and (max-width: 600px)  {
        .devicewidth{width:100%!important;}
        .dxy_height{height: 15px!important;}
        .dxy_td{padding-left: 3%!important;padding-right: 3%!important; }
        .dxy_td_sm{padding-left: 2%!important; padding-right: 2%!important;}
        .dxy_img{width:100% !important; height:auto!important;}
        .dxy_hidden{display: none!important;font-size: 0!important; line-height: 0!important;}
        .dxy_td_height{height: 6px!important;}
    }
    </style>
</head>

<body>
    <table width="650" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#f0f0f0" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 20px; color:#333;" class="devicewidth">
        <tbody>
            <!-- 背景图-start  -->
            <tr>
                <td>
                    <!-- 
                        a标签的href等于跳转链接，img标签的src等于图片的url地址{注：图片大小650px*290px为最佳}，alt等于对背景图片的介绍。{注：每个等于号后面的字符串都需要英文双引号} 
                    -->
                    <a href="http://www.jobmd.cn/specials/sh2015" target="_blank">
                        <img src="http://www.jobmd.cn/topic/edm/2015/0323/banner.jpg" alt="#" width="650" height="290" border="0" style="display:block;" class="dxy_img"/>
                    </a>

                </td>
            </tr>
            <!-- 背景图-end -->

            <!-- banner下方内容-start -->
            <tr>
                <td style="padding-left: 14px; padding-right: 14px;" class="dxy_td_sm">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;  line-height: 24px; color:#333;" class="devicewidth">
                        <tbody>
                            <tr>
                                <td height="15" class="dxy_height">&nbsp;</td>
                            </tr>

                            <!-- 正文内容-start -->
                            <tr>
                                <td style="padding-left: 10px;padding-right: 10px;" class="dxy_td">
                                    d-1四月招聘季，丁香园携手中国科学院博士后联谊会上海分会在上海举办“精英汇—第六届丁香园中高级人才交流会”，欢迎业内中高级人才参加。名额有限，预报从速！
                                </td>
                            </tr>
                            <tr>
                                <td height="30" class="dxy_height">&nbsp;</td>
                            </tr>
                            <!-- 正文内容-end -->

                            <!-- 参会要求-start -->
                            <tr>
                                <td style="padding-left: 10px; padding-right: 10px;"  class="dxy_td">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 30px; color:#333;" class="devicewidth">
                                        <tbody>
                                            <!-- 参会要求标题-start -->
                                            <tr>
                                                <td style="border-bottom: 2px solid #1276aa;">
                                                    <div style="width: 80px; height: 28px; line-height:28px; background:#1276aa; text-align: center; font-size: 14px; font-weight: bold; color: #fff;">d-2参会要求</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="15"></td>
                                            </tr>
                                            <!-- 参会要求-end -->

                                            <!-- 参会要求条件循环-start -->
                                            <!-- 
                                                1、如果现在需要添加一个条件；
                                                2、从注释one-start至one-end之间的代码全部复制｛不包括one-start和one-end｝；
                                                3、粘贴替换内容就可以。
                                            -->
                                            <!-- one-start -->
                                            <tr>
                                                <td style="padding-left: 10px;line-height:30px;">
                                                    <!-- 从<strong>至</strong>这段代码主要是添加圆点，如果不需要圆点，删除<strong>至</strong>所有所有代码，包括strong -->
                                                    <strong style="color: #1e7dae;font-size: 40px;vertical-align:top;padding-right: 5px; ">·</strong>
                                                    d-2.1具有医学、药学、生命科学专业背景；研究生及以上学历且有3年以上工作经验，
                                                    本科学历且有5年以上工作经验；
                                                </td>
                                            </tr>
                                            <!-- one-end -->
                                            
                                            <!-- two-start -->
                                            <tr>
                                                <td style="padding-left: 10px;line-height:30px;">
                                                    <strong style="color: #1e7dae;font-size: 40px;vertical-align:top;padding-right: 5px; ">·</strong>
                                                    d-2.2具有执业医师资格，拥有中高级职称、医院管理职位任职经历；
                                                </td>
                                            </tr>
                                            <!-- two-end -->

                                            <!-- three-start -->
                                            <tr>
                                                <td style="padding-left: 10px;line-height:30px;">
                                                    <strong style="color: #1e7dae;font-size: 40px;vertical-align:top;padding-right: 5px; ">·</strong>
                                                    d-2.3具有生物医药企业中高级经营管理职位任职经历。
                                                </td>
                                            </tr>
                                            <!-- three-end -->
                                            <!-- 参会要求条件循环-end -->
                                            
                                            <tr>
                                                <td height="15"></td>
                                            </tr>

                                            <!-- 立即参加-start -->
                                            <tr>
                                                <td align="center" style="background: url('http://www.jobmd.cn/topic/edm/2015/0323/btn.png') no-repeat center 2px;;height: 50px;">
                                                    <!-- a标签的href等于立即参加跳转的链接 -->
                                                    <a href="http://survey.dxy.cn/s101016" style="color: #fff;font-weight:700;line-height:50px;font-size: 14px;text-decoration: none">
                                                        d-2.4立即参加
                                                    </a>
                                                </td>
                                            </tr>
                                            <!-- 立即参加-end -->
                                            <tr>
                                                <td height="15"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- 参会要求-end -->

                            <!-- 参会咨询-start -->
                            <tr>
                                <td style="padding-left: 10px; padding-right: 10px;"  class="dxy_td">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 30px; color:#333;" class="devicewidth">
                                        <tbody>
                                            <!-- 参会咨询标题-start -->
                                            <tr>
                                                <td style="border-bottom: 2px solid #1276aa;">
                                                    <!-- 参会咨询标题 -->
                                                    <div style="width: 80px; height: 28px; line-height:28px; background:#1276aa; text-align: center; font-size: 14px; font-weight: bold; color: #fff;">d-3参会咨询</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="15"></td>
                                            </tr>
                                            <!-- 参会咨询标题-end -->

                                            <!-- 参会咨询联系方式-start -->
                                            <tr>
                                                <td style="padding-left: 10px;">
                                                    <!-- 
                                                        1、‘&nbsp;’表示一个空格，<br />表示换行；
                                                        2、如果需要添加一行内容，可以参考如下：
                                                        <strong>性&nbsp;&nbsp;&nbsp;别：</strong>男<br /> 
                                                    -->
                                                    d-3.1<strong>联系人：</strong>詹思涛  石磊<br/>
                                                    d-3.2<strong>电&nbsp;&nbsp;&nbsp;话：</strong>0571-26899685、26899639<br/>
                                                    d-3.3<strong>邮&nbsp;&nbsp;&nbsp;箱：</strong><a style="color: #333" href="mailto:zhanst@dxy.com">zhanst@dxy.com </a>
                                                    <a href="mailto:sl@dxy.com"style="color: #333;margin-left: 10px;" >sl@dxy.com</a><br/>
                                                    d-3.4<strong>详&nbsp;&nbsp;&nbsp;情：</strong><a style="color: #333" href="http://www.jobmd.cn/specials/sh2015">www.jobmd.cn/specials/sh2015</a><br/>
                                                </td>
                                            </tr>
                                            <!-- 参会咨询联系方式-end -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="30" class="dxy_height">&nbsp;</td>
                            </tr>
                            <!-- 参会咨询-end -->

                            <!-- 部分参会单位-start -->
                            <tr>
                                <td style="padding-left: 10px; padding-right: 10px;" class="dxy_td">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 24px; color:#333;" class="devicewidth">
                                        <tbody>
                                            <!-- 部分参会单位标题-start -->
                                            <tr>
                                                <td style="border-bottom: 2px solid #1276aa;" colspan="3">
                                                    <div style="width: 110px; height: 28px; line-height:28px; background:#1276aa; text-align: center; font-size: 14px; font-weight: bold; color: #fff;">d-4部分参会单位</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10" class="dxy_height">&nbsp;</td>
                                            </tr>
                                            <!-- 部分参会单位标题-end -->

                                            <!-- 部分参会单位内容-start -->
                                            <tr>
                                                <!-- 如果需要在相应的列一行或者多行数据，需要在每一条数据后面加一个<br />换行，如：这是测试数据<br /> -->

                                                <!-- 第一列-start -->
                                                <td width="30%" style="padding-left: 10px" >
                                                    明基医院<br>
                                                    上海国龙医院<br>
                                                    上海德济医院<br>
                                                    南京同仁医院<br>
                                                    高邮市人民医院<br>
                                                </td>
                                                <!-- 第一列-end -->

                                                <!-- 第二列-start -->
                                                <td width="30%">
                                                    上海科技大学<br>
                                                    上海恒健医学<br>
                                                    上海仁爱医疗<br>
                                                    上海吉凯基因<br>
                                                    上海中科新生命<br>
                                                </td>
                                                <!-- 第二列-end -->

                                                <!-- 第三列-start -->
                                                <td width="30%"class="dxy_hidden">
                                                    浙江贝达药业<br>
                                                    上海兰卫临床检验<br>
                                                    嘉兴市妇幼保健院<br>
                                                    上海市静安区中心医院<br>
                                                    远东宏信-医疗健康集团<br>
                                                </td>
                                                <!-- 第三列-end -->
                                            </tr>
                                            <!-- 部分参会单位内容-end -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="30" class="dxy_height">&nbsp;</td>
                            </tr>
                            <!-- 部分参会单位-end -->
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="14" class="dxy_td_height"></td>
            </tr>
            <!-- banner下方内容-end -->
        </tbody>
    </table>

    <!-- GA -->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16793801-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    </script>
</body>
</html>