
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <!-- title标题 -->
    <title>d-title 单岗位招聘模板</title>
    <!-- 下面meta里的content写关键词，如果没有删除这个meta一行 -->
    <meta name="keywords" content="d-keywords" />
    <!-- 下面meta里的content写这个edm的描述，如果没有删除这个meta一行 -->
    <meta name="description" content="d-description" />

    <meta content="IE=7" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <style type="text/css">
        @media only screen and (max-width: 600px) {
            .devicewidth {width: 100%!important;}
            .dxy_height {height: 15px!important;}
            .dxy_td {padding-left: 3%!important;padding-right: 3%!important;}
            .dxy_td_sm {padding-left: 2%!important;padding-right: 2%!important;}
            .dxy_img {width: 100% !important;height: auto!important;}
        }
    </style>
</head>

<body>
<!-- 顶部点此阅读-start -->
<table width="650" cellpadding="0" cellspacing="0" align="center" border="0" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 24px; color:#333;" class="devicewidth">
    <tbody>
    <tr>
        <!--预留空白 a标签href等于本页面的链接-->
        <td height="30" align="center" style="font-size: 12px;" class="dxy_height">
            若邮件无法显示，请<a href="#" style="color: #4788de">点此阅读</a>
        </td>
    </tr>
    </tbody>
</table>
<!-- 顶部点此阅读-end -->

<table width="648" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 20px; color:#333;border: 1px solid #dadada;" class="devicewidth">
    <tbody>
    <tr>
        <td style="padding-left: 20px; padding-right: 20px;background-color:#f6fcfe;" class="dxy_td">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#f6fcfe" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;  line-height: 20px; color:#333;" class="devicewidth">
                <tbody>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td><img src="http://www.jobmd.cn/topic/edm/template/t5/logo.png" alt="丁香人才" /></td>
                </tr>
                <tr>
                    <td height="30" class="dxy_height"></td>
                </tr>
                <tr>
                    <td style="font-size:14px;font-weight:bold;color:#000;">尊敬的丁香人才网用户：</td>
                </tr>
                <tr>
                    <td height="20" class="dxy_height"></td>
                </tr>
                <tr>
                    <td style="font-size:13px;">你好：</td>
                </tr>
                <tr>
                    <td style="font-size:13px;">我是丁香人才顾问哥哥，受<span style="color:#e1681f;">观澜网络公司</span>委托，通过评估你在<span style="color:#1f83c4;">丁香人才网</span>的档案，特向您推荐<span style="color:#e1681f;">观澜网络（精神病医生）</span>一职，期待您的关注。</td>
                </tr>
                <tr>
                    <td height="30" class="dxy_height"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <!-- 招聘岗位信息描述-start -->
    <tr>
        <td height="30px" class="dxy_height dxy_td" style="padding-left: 20px; padding-right: 20px;"></td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:13px;  line-height: 20px; color:#333;" class="devicewidth">
                <tbody>
                <td>
                    <!-- 岗位图标 img的src等于岗位图标{图标大小最好为22px*26px} -->
                <td width="24">
                    <img src="http://www.jobmd.cn/topic/edm/template/t5/title.png" alt="职位" width="22" height="26" />
                </td>

                <!-- 招聘岗位名称 -->
                <td>
                    <span style="font-weight:bold;color:#000;">d-1.1谨精神病主治医生</span>
                </td>

                <!-- 地点图标 img的src等于岗位图标{图标大小最好为22px*26px} -->
                <td width="24">
                    <img src="http://www.jobmd.cn/topic/edm/template/t5/position.png" alt="地点" width="22" height="26" />
                </td>

                <!-- 工作地点名称 -->
                <td>
                    <span style="font-weight:bold;color:#000;">d.1.2杭州</span>
                </td>

                <!-- 薪资范围 -->
                <td align="right">
                    薪资范围：<span style="color:#e1681f;">d-1.310K-20K</span>
                </td>
                </td>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- 招聘岗位信息描述-end -->

    <!-- 招聘岗位推荐理由-start -->
    <tr>
        <td height="30px" class="dxy_height dxy_td" style="padding-left: 20px; padding-right: 20px;"></td>
    </tr>
    <tr>
        <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 26px; color:#333;" class="devicewidth">
                <tbody>
                <!-- 推荐理由标题-start -->
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;" class="devicewidth">
                            <tr>
                                <td style="font-weight:bold;color:#000;">推荐理由</td>
                            </tr>
                            <tr>
                                <td height="5"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- 推荐理由标题-end -->

                <!-- 推荐理由内容-start -->
                <!-- 如果需要增加一条岗位推荐理由内容，可以复制one-start至one-end之间代码 -->
                <!-- one-start -->
                <tr>
                    <td>
                        <span style="background-color:#e5f0f6;padding:2px 12px;color:#1f83c5;">d-2.1薪资</span>
                        <span style="padding-left:5px;">d-2.2行业内有竞争力的薪资体系</span>
                    </td>
                </tr>
                <!-- one-end -->

                <tr>
                    <td>
                        <span style="background-color:#e5f0f6;padding:2px 12px;color:#1f83c5;">d-2.3福利</span>
                        <span style="padding-left:5px;">d-2.4完善福利，社会保险基本福利和更多福利保障；</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="background-color:#e5f0f6;padding:2px 12px;color:#1f83c5;">d-2.5增值</span>
                        <span style="padding-left:5px;">dd-2.6最直接接触第一手大数据信息，创造改变行业的产品；</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="background-color:#e5f0f6;padding:2px 12px;color:#1f83c5;">d-2.7环境</span>
                        <span style="padding-left:5px;">d-2.8杭州总部园区生态公园版的舒适办公环境，幸福班车；</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="background-color:#e5f0f6;padding:2px 12px;color:#1f83c5;">d-2.9梦想</span>
                        <span style="padding-left:5px;">d-2.10完善福利，社会保险基本福利和更多福利保障；</span>
                    </td>
                </tr>
                <!-- 推荐理由内容-end -->
                </tbody>
            </table>
        </td>
    </tr>
    <!-- 招聘岗位推荐理由-end -->

    <tr>
        <td height="30" class="dxy_height"></td>
    </tr>
    <tr>
        <td>
            <table width="85%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;">
                <tbody>
                <tr>
                    <td align="center" style="background-color:#1f86c8;color:#fff;border-radius:3px;">
                        <a href="#" style="display:block;padding:10px 0;color:#fff;font-size:15px;text-decoration:none;">d-3查看职位详情</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td height="30" class="dxy_height"></td>
    </tr>
    </tbody>
</table>

<!-- 最底部退订-start -->
<table  width="650" align="center" border="0" cellpadding="0" cellspacing="0" style='padding:15px 0;text-align:center;font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:12px; color:#888' class="devicewidth">
    <tbody>
    <tr>
        <td>如果您不希望接收此邮件，请点击<a href="$quiturl" style="color: #888;text-decoration:none;">退订</a></td>
    </tr>
    </tbody>
</table>
<!-- 最底部退订-end -->

<!-- GA统计 -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16793801-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>