
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <!-- title标题 -->
    <title>多岗位招聘模板</title>
    <!-- 下面meta里的content写关键词，如果没有删除这个meta -->
    <meta name="keywords" content="" />
    <!-- 下面meta里的content写这个edm的描述，如果没有删除这个meta -->
    <meta name="description" content="" />

    <meta content="IE=7" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <style type="text/css">
        @media only screen and (max-width: 600px) {
            .devicewidth {width: 100%!important;}
            .dxy_height {height: 15px!important;}
            .dxy_td {padding-left: 3%!important;padding-right: 3%!important;}
            .dxy_td_sm {padding-left: 2%!important;padding-right: 2%!important;}
            .dxy_img {width: 100% !important;height: auto!important;}
            .dxy_hidden {display: none!important;line-height: 0!important;font-size: 0!important;}
            #dxy_col_img td {display: block;margin-right: 4%;margin-bottom: 4%;width: 46%;float: left;text-align: left;}
            #dxy_col_img td img {width: 100%;}
        }
    </style>
</head>

<body>
<table width="648" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#e8f8ff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height: 20px; color:#333;border: 1px solid #dadada;" class="devicewidth">
<tbody>
<!-- 背景图-start -->
<tr>
    <td>
        <!--
            a标签的href等于跳转链接，img标签的src等于图片的url地址{注：图片大小650px*276px为最佳}，alt等于对背景图片的介绍。{注：每个等于号后面的字符串都需要英文双引号}
        -->
        <a href="#" target="_blank">
            <img src="http://www.jobmd.cn/topic/edm/template/t4/banner.jpg" alt="" width="648" height="276" border="0" style="display:block;" class="dxy_img" />
        </a>

    </td>
</tr>
<!-- 背景图-end -->

<!-- banner下方内容-start -->
<tr>
<td>
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height:20px;color:#333;" class="devicewidth">
<tbody>
<tr>
    <td height="15" class="dxy_height">&nbsp;</td>
</tr>

<!-- 精彩图片集合-start -->
<tr>
    <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;" class="devicewidth" id="dxy_col_img">
            <tbody>
            <!-- tr里面有四张图片，如果需要在加一张图片，可以从one-start至one-end全部复制，把img标签的src等于要添加的图片地址{注：此处选择为四张图片效果为最佳} -->
            <tr>
                <!-- one-start -->
                <td align="center">
                    <img src="http://www.jobmd.cn/topic/edm20150312/m1.jpg" width="139" height="100" alt="" border="0" style="display:block;" />
                </td>
                <!-- one-end -->

                <!-- two-start -->
                <td align="center">
                    <img src="http://www.jobmd.cn/topic/edm20150312/m2.jpg" width="139" height="100" alt="" border="0" style="display:block;" />
                </td>
                <!-- two-end -->

                <!-- three-start -->
                <td align="center">
                    <img src="http://www.jobmd.cn/topic/edm20150312/m3.jpg" width="139" height="100" alt="" border="0" style="display:block;" />
                </td>
                <!-- three-end -->

                <!-- four-start -->
                <td align="center">
                    <img src="http://www.jobmd.cn/topic/edm20150312/m4.jpg" width="139" height="100" alt="" border="0" style="display:block;" />
                </td>
                <!-- four-end -->
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td height="30" class="dxy_height">&nbsp;</td>
</tr>
<!-- 精彩图片集合-end -->

<!-- 招聘模块1-start -->
<tr>
    <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height:26px; color:#333;" class="devicewidth">
            <tbody>
            <!-- 急招岗位标题-start -->
            <tr>
                <td style="background-color: #f6f6f6;">
                    <!-- 招聘岗位标题 -->
                    <div style="float:left; padding: 0 10px; height: 35px; line-height:35px; background:#1e9ccf; text-align: center; font-size: 14px; font-weight: bold; color: #fff;">d-1上海华美整形热门推荐职位</div>
                </td>
                <td width="75" style="height: 35px; line-height:35px; background-color: #f6f6f6;" align="center">
                    <!-- 招聘岗位右边更多职位 ‘&gt;’表示一个右箭头 a标签的href等于更多职位跳转链接 -->
                    <a style="color: #000; text-decoration: none" href="http://www.jobmd.cn/company/1988084.htm" target="_blank">更多职位&gt;&gt;</a>
                </td>
            </tr>
            <tr>
                <td height="15" colspan="2"></td>
            </tr>
            <!-- 急招岗位标题-end -->

            <!-- 职位循环-start -->
            <!--
                1、如果需要增加一个职位；
                2、复制从下面这个<tr>开始到往下数第一个</tr>截至。
            -->
            <!-- one-start -->
            <tr>
                <td style="border-bottom:1px solid #dedede;line-height:35px;">
                    <!-- a标签href等于职位跳转链接，“呼吸内科博士（应届）”为职位名称 -->
                    <a style="text-decoration: none;color:#333;background-color:#fff;" target="_blank" href=" http://www.jobmd.cn/work/433326.htm">d-1.1呼吸内科博士（应届）</a>
                </td>
                <td align="center" valign="top" style="border-bottom:1px solid #dedede;line-height:35px;">
                    <div>
                        <!-- a标签href等于申请上面职位跳转的链接 -->
                        <a target="_blank" style="text-decoration: none;color:#333;" href=" http://www.jobmd.cn/user/apply.htm?action=Apply&ids=433326">申请</a>
                    </div>
                </td>
            </tr>
            <!-- one-end -->

            <!-- 下面这个<tr>到</tr>之间复制一份就是一个职位 -->
            <!-- two-start -->
            <tr>
                <td style="border-bottom:1px solid #dedede;line-height:35px;">
                    <a style="text-decoration: none;color:#333;" target="_blank" href=" http://www.jobmd.cn/work/394954.htm">d-1.2康复医学</a>
                </td>
                <td align="center" valign="top" style="border-bottom:1px solid #dedede;line-height:35px;">
                    <div>
                        <a target="_blank" style="text-decoration: none;color:#333;" href=" http://www.jobmd.cn/user/apply.htm?action=Apply&ids=394954">申请</a>
                    </div>
                </td>
            </tr>
            <!-- two-end -->
            <!-- 职位循环-end -->
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td height="30" class="dxy_height">&nbsp;</td>
</tr>
<!-- 招聘模块1-end -->

<!-- 招聘模块2-start -->
<tr>
    <td style="padding-left: 20px; padding-right: 20px;" class="dxy_td">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height:26px; color:#333;" class="devicewidth">
            <tbody>
            <!-- 急招岗位标题-start -->
            <tr>
                <td style="background-color: #f6f6f6;">
                    <!-- 招聘岗位标题 -->
                    <div style="float:left; padding: 0 10px; height: 35px; line-height:35px; background:#1e9ccf; text-align: center; font-size: 14px; font-weight: bold; color: #fff;">d-2上海华美整形热门推荐职位</div>
                </td>
                <td width="75" style="height: 35px; line-height:35px; background-color: #f6f6f6;" align="center">
                    <!-- 招聘岗位右边更多职位 ‘&gt;’表示一个右箭头 a标签的href等于更多职位跳转链接 -->
                    <a style="color: #000; text-decoration: none" href="http://www.jobmd.cn/company/1988084.htm" target="_blank">更多职位&gt;&gt;</a>
                </td>
            </tr>
            <tr>
                <td height="15" colspan="2"></td>
            </tr>
            <!-- 急招岗位标题-end -->

            <!-- 职位循环-start -->
            <!--
                1、如果需要增加一个职位；
                2、复制从下面这个<tr>开始到往下数第一个</tr>截至。
            -->
            <!-- one-start -->
            <tr>
                <td style="border-bottom:1px solid #dedede;line-height:35px;">
                    <!-- a标签href等于职位跳转链接，“呼吸内科博士（应届）”为职位名称 -->
                    <a style="text-decoration: none;color:#333;background-color:#fff;" target="_blank" href=" http://www.jobmd.cn/work/433326.htm">d-2.1呼吸内科博士（应届）</a>
                </td>
                <td align="center" valign="top" style="border-bottom:1px solid #dedede;line-height:35px;">
                    <div>
                        <!-- a标签href等于申请上面职位跳转的链接 -->
                        <a target="_blank" style="text-decoration: none;color:#333;" href=" http://www.jobmd.cn/user/apply.htm?action=Apply&ids=433326">申请</a>
                    </div>
                </td>
            </tr>
            <!-- one-end -->

            <!-- 下面这个<tr>到</tr>之间复制一份就是一个职位 -->
            <!-- two-start -->
            <tr>
                <td style="border-bottom:1px solid #dedede;line-height:35px;">
                    <a style="text-decoration: none;color:#333;" target="_blank" href=" http://www.jobmd.cn/work/394954.htm">d-2.2康复医学</a>
                </td>
                <td align="center" valign="top" style="border-bottom:1px solid #dedede;line-height:35px;">
                    <div>
                        <a target="_blank" style="text-decoration: none;color:#333;" href=" http://www.jobmd.cn/user/apply.htm?action=Apply&ids=394954">申请</a>
                    </div>
                </td>
            </tr>
            <!-- two-end -->
            <!-- 职位循环-end -->
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td height="30" class="dxy_height">&nbsp;</td>
</tr>
<!-- 招聘模块2-end -->

<!-- 电话、微信联系方式-start -->
<tr>
    <td>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;padding:10px 0;background-color: #fcfcfc;" class="devicewidth">
            <tbody>
            <tr>
                <!-- 联系电话-start -->
                <td class="dxy_hidden">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;background-color: #fcfcfc;border-right:1px solid #f1f1f1;" class="devicewidth">
                        <tbody>
                        <tr>
                            <td rowspan="2" width="65" style="padding-left:20px;" class="dxy_td"><img src="http://www.jobmd.cn/topic/edm/template/t4/phone.png" width="65" height="65" /></td>
                            <td>
                                <p style="margin:5px;padding:0;">d-3.50571-26899644</p>
                                <p style="margin:5px;padding:0;">d-3.6周一至周五 8:30-17:30</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <!-- 联系电话-end -->

                <!-- 二维码-start -->
                <td>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height: 20px; color:#333;background-color: #fcfcfc;" class="devicewidth">
                        <tbody>
                        <tr>
                            <td rowspan="2" style="padding-left:20px;" class="dxy_td">
                                <img src="http://www.jobmd.cn/topic/edm/template/t4/qrcode.png" width="65" height="65" />
                            </td>
                            <td>
                                <p style="margin:5px;padding:0;">丁香人才微信订阅号</p>
                                <p style="margin:5px;padding:0;">找工作，投简历，手机实时查进度</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <!-- 二维码-end -->
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<!-- 电话、微信联系方式-end -->
</tbody>
</table>
</td>
</tr>
<!-- banner下方内容-end -->
</tbody>
</table>

<!-- 最底部退订-start -->
<table  width="650" align="center" border="0" cellpadding="0" cellspacing="0" style='padding:15px 0;text-align:center;font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:12px; color:#888' class="devicewidth">
    <tbody>
    <tr>
        <td>如果您不希望接收此邮件，请点击<a href="$quiturl" style="color: #888;text-decoration:none;">退订</a></td>
    </tr>
    </tbody>
</table>
<!-- 最底部退订-end -->

<!-- GA统计 -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16793801-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>