body{
  margin:0;
	text-align:center;
	font-family: Verdana;
	background:#f5f5f5;
}
h1 {
  text-align:center;
}
.container {
  width:90%;
	margin:0 auto;
}
input[type="radio"] {
  display:none;
}
label {
  width:23%;
	float:left;
	text-align:center;
	background:#ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color:#222222;
	padding:0.5%;
	margin:0.5%;
	margin-bottom:30px;
	cursor:pointer;
}
input[type="radio"]{
  &[id="men"]:checked {
    + label {
      background:#6666ff;
    }
    ~ .women,
    ~ .children {
      width:0;
      height:0;
      padding:0;
      margin:0;
      opacity:0;
    }
  }
  
  &[id="women"]:checked {
    + label {
      background:#ff4466;
    }
    ~ .men,
    ~ .children {
      width:0;
      height:0;
      padding:0;
      margin:0;
      opacity:0;
    }
  }
  &[id="children"]:checked {
    + label {
      background:#66dd99;
    }
    ~ .men, 
    ~ .women {
      width:0;
      height:0;
      padding:0;
      margin:0;
      opacity:0;
    }
  }
}

.tile {
  width:23%;
  float:left;
  transition:all 1s;
  margin:0.5%;
  padding:0.5%;
  background:#6666ff;
  
  img {
		width: 100%;
	}
}