@charset "UTF-8";
html,
body {
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    overflow: hidden;
    font-size: 14px;
    font-family: "Microsoft Yahei", "Courier New", "SimSun";
    height: 100%;
}

.clearfix {
    clear: both;
    line-height: 0;
    font-size: 0;
}

.hidden {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pr10 {
    padding-right: 10px;
}

.mr10 {
    margin-right: 10px;
}

.sub_banner {
    height: 30px;
    line-height: 30px;
    color: #fff;
    padding-left: 15px;
}

.w_hudnred50 {
    width: 50%;
}

.bc444442 {
    background-color: #444442;
}

.bc3A3937 {
    background-color: #3A3937;
}

.btn {
    position: relative;
    border: none;
    padding: 4px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    top: -1px;
}

.pointer {
    cursor: pointer;
}
/* content css */

.header {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    background-color: #0073BD;
    color: #fff;
    text-align: center;
    font-size: 13px;
}

.header .banner_logo {
    display: inline-block;
    float: left;
    padding: 0 20px;
    font-size: 14px;
}

.header .banner_logo {
    _display: inline;
}

.header .banner_logo .dxy_logo {
    width: 112px;
    height: 50px;
    vertical-align: middle;
}

.header input[type="checkbox"],
.sub_banner input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.main {
    height: 100%;
}

.username {
    border: none;
    text-align: center;
    width: 60px;
    padding: 0 10px;
    background-color: #0073BD;
    color: #fff;
    cursor: pointer;
    outline: none;
}

input.active {
	background-color: #fff!important;
	color: #000!important;
	border: 1px solid #ccc;
}

.panel {
    float: left;
    width: 200px;
    height: 100%;
    padding: 0;
    background-color: #fff;
}

.panel .file_tree {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.panel .file_tree ul {
    list-style: none;
    padding: 0 0 15px 0;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
}

.panel .file_tree .filename {
    cursor: pointer;
}

.panel .file_tree ul li.file_node {
    padding: 10px;
    color: #fff;
}

.panel .file_tree ul li.file_node a {
    color: #0073BD;
    text-decoration: none;
    font-size: 13px;
    display: block;
}

.panel .file_tree ul li.file_node a:hover {
    text-decoration: underline;
}

.panel .file_tree ul li:first-child {
    padding: 10px;
    list-style: none;
    font-weight: bold;
}

.panel .file_tree ul li.active {
    background-color: #0073BD;
}

.panel .file_tree ul li.active a {
    color: #fff;
}

.content {
    margin: 0px 0px 0 200px;
    height: 100%;
}

div.column {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    width: 50%;
    border-width: 0;
}

div.window {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 1px 2px #e4e4e4;
}

.help {
    float: right;
    padding-right: 20px;
    color: #f00;
}

.CodeMirror {
    height: 100%!important;
    font-family: "Courier New", monospace, "Consolas", "SimSun" !important;
}

.CodeMirror pre {
    font-family: "Courier New", monospace, "Consolas", "SimSun" !important;
}

iframe#preview {
    box-shadow: inset 0 1px 3px #E4E4E4;
    border: 0 !important;
    min-width: 100px;
    width: 100%;
    height: 100%;
    line-height: 15px;
    font-family: "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 12px;
}

::-webkit-scrollbar
/*整体部分*/

{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track
/*滑动轨道*/

{
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
/*滑块*/

{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover
/*滑块效果*/

{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
}
